* {
    margin: 0;
    padding: 0;
}

html, body, .game {
    width: 100%;
    height: 100%;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    border: 2px solid black;
    width: 500px;
    height: 500px;
    z-index: -99;
}

.board > .design {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
}

.design > .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
}

.design > .row > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 62.5px;
    height: 62.5px;
}

.design div.one { background-color: burlywood; }
.design div.two { background-color: brown; }

.design > .row > div > div {
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.design > .row > div > div:hover {
    border: 1px solid white;
}

.design > .row > div > div.cpu {
    background-color: black;
}

.design > .row > div > div.user {
    background-color: red;
}